
            
/**
 * @name unofficialdxnny
 * @version 1.0.0
 * @description no LOL
 * @source 
 * @website 
 * @invite 
 */

  @import url('https://unofficialdxnny.github.io/main.css');



  
  

	/* ACCENT COLORS */

:root{
  --main-color: #{maincolour}; 
	--hover-color: #{hovercolour};
	--success-color: #{successcolour}; 
	--danger-color: #{dangercolour};
	--url-color: #({urlcolour}); 

	/* STATUS COLORS */
	--online-color: #{onlinecolour}; 
	--idle-color: #{idlecolour}; 
	--dnd-color: #{dndcolour}; 
	--streaming-color: #{streamingcolour}; 
	--offline-color: #{offlinecolour}; 

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; 
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; 
	--text-normal: #{normaltext}; 
	--text-muted:  #{textmuted}; 
	--channels-width: {channelwidth}px; 
	--members-width: {memberswidth}px; 

	/* APP BACKGROUND */
	--background-shading: {bgshading}%; 
	--background-overlay: #{bgoverlay}; 
	--background-image: url({bgimage}); 
	--background-position: {bgposition}; 
	--background-size: {bgsize}; 
	--background-repeat: {bgrepeat}; 
	--background-attachment: fixed; 
	--background-brightness: 100%;
	--background-contrast: {bgcontrast}%;
	--background-saturation: {bgsaturation}%;
	--background-invert: {bginvert}%; 
	--background-grayscale: {bggrayscale}%;
	--background-sepia: {bgsepia}%;
	--background-blur: {bgblur}px;
	
	/* HOME BUTTON ICON */
	--home-icon: url({homeicon}); 
	--home-position: {homeposition};
	--home-size: {homesize}px;
		
	/* CHANNEL COLORS */
	--channel-unread: #{channelunread}; 
	--channel-color:  #{channelcolor}; 
	--channel-text-selected: #{channeltextselected}; 
	--muted-color: #{mutedcolor};}



            